body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Verdana, serif;
}
header {
    display: flex;
    flex-direction: column;
}
li {
    display: inline;
}
#image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#icon {
    margin-bottom: -1vh;
}

#page {
    display: flex;
    flex-direction: row;
}
aside {
  flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
}
aside p {
    border: 2px solid black;
    text-align: center;

}
section {
   flex-grow: 10;
    height: 70vh;
    border: 2px solid black;

}
caption{
    border: 1px solid black;
}
#table {
    border: 1px solid black;
  flex-grow: 1;
}
#day{
    background-color: cornflowerblue;
    border: cornflowerblue;
    border-radius: 40px;
}
section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#formInsc label{
    text-align: right;
}

table {
    border: 1px solid black;
    width: 100%;
    height: 50vh;
    border-collapse: collapse;
    caption-side: top;
    text-align: center;
}

form{

}