body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: Verdana, serif;
}
header {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

header li {
    display: inline;
}
#image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#icon {
    margin-bottom: -1vh;
}

#page {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid black;
}

section {
    display: flex;
    flex-direction: column;
    height: 70vh;
    border: 2px solid black;
    flex-grow: 6;
}

#menuAgenda li{
    display: inline-block;
}

#menuAgenda{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

caption{
    border: 1px solid black;
}
 table{
     border: 1px solid black;
     width: 100%;
     height: 50vh;
     border-collapse: collapse;
     caption-side: top;
     text-align: center;
}
#day{
    background-color: cornflowerblue;
    border: cornflowerblue;
    border-radius: 40px;
}
#table {
    border: 1px solid black;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}